#inline{
	display: inline-block;
}

#divBaixa{
	width: 100%;
	height: 12vh;
	background-color: orange;
	text-align: center;
	position: relative;
	bottom: 0;
}

#pBaixo{
	padding: 4vh;
}

#pFooter{
	color: white;
	text-decoration: none;
}

#pFooter a{
	color: white;
}

.formHide{
	text-align: center;
	display: flex;
}